<form (ngSubmit)="addCustomer(f['value'])" #f="ngForm">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Image Url</label>
    <input
      [ngModel]
      name="imageUrl"
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input
      [ngModel]
      name="name"
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Gender</label>
    <input
      [ngModel]
      name="description"
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Age</label>
    <input
      [ngModel]
      size="10px"
      name="price"
      type="number"
      class="form-control"
      id="exampleInputPassword1"
    />
    <label for="exampleInputPassword1" class="form-label">Phone Number</label>
    <input
      [ngModel]
      size="10px"
      name="phoneNumber"
      type="number"
      class="form-control"
      id="exampleInputPassword1"
    />
    <label for="exampleInputPassword1" class="form-label">Address</label>
    <input
      [ngModel]
      size="10px"
      name="address"
      type="text"
      class="form-control"
      id="exampleInputPassword1"
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
